extends layout

block content
  body
    .container
      h1 File Scan Result

      if fileInfo.isInfected == true
        .alert.alert-danger
          a(href=`/uploads/${fileInfo.uniqueIdentifier}`) See details
          h2 Infected File Detected
          p The file "#{fileInfo.fileName}" is infected.
          p Detected viruses: #{fileInfo.viruses}
      else if fileInfo.isInfected == false
        .alert.alert-success
          h2 Clean File
          p The file "#{fileInfo.fileName}" is clean and free from viruses.
      else
        .alert.alert-warning
          h2 Error
          p #{message}